<?xml version="1.0" ?>
<launch>

  <node pkg="visual_behavior" type="follow_person_node" name="Follow_Person" output="screen"/>
  <node pkg="cameras_cpp" type="nodo_camera" name="cameras_cpp"/>

  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="image" value="/camera/rgb/image_raw/"/>
  </include>
  <include file="$(find openni2_launch)/launch/openni2.launch"/>
  <include file="$(find robots)/launch/kobuki_astra.launch"/>
</launch>
